.container {
  display: flex;
  align-items: center;
  padding-top: 20vh;
  flex-direction: column;
  background-color: white;
  height: 80vh;
}

.to-do-form form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.to-do-form form Button {
  margin-left: 20px;
  background-color: black;
  color: white;
}
